body {
 background-image:url(weihnachten.jpg);
 background-size: cover;
 }
 
canvas {
 background-color: #F5A9A9;
 }
 
 header {
 color: white;
 }
 
a {
 color: white;
 font-size: 30pt;
 float: center;
 }