* {
  margin: 0;
  padding: 0;
	box-sizing: border-box;
	transition: all .1s ease-in;
}

textarea, select, input, button { outline: none; }

body {
  background-image: url('bg.jpg');
  background-size: 100%;
  background-repeat: repeat-y;
  margin: 0;
  padding: 60px;
  position: relative;
  overflow: auto;
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.025em;
  line-height: 1.5em;
  overflow-x: hidden;
}

img {
  width: 100%;
  display: block;
}

body > main {
  margin: 0 auto;
  max-width: 800px;
  position: relative;
}

body > header {
  display: flex;
  flex-direction: row-reverse;
}

body > header .title {
  flex: 1 1;
  padding-right: 3rem;
  margin-bottom: 2rem;
}

body > header .title h1 {
  color: #e4c856;
  font-size: 1.8rem;
  margin: 0;
}

body > header .logo {
  flex: 200px 0;
  max-width: 400px;
  margin: .2rem 0 2rem auto;
  display: block;
}

body > footer, body > footer a {

  margin-top: 2rem;
  text-align: center;
  color: #e4c856;
  font-size: 0.7rem;
  text-decoration: none;

}

.modal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 60px;
  /* background:	rgba(0, 0, 0, 0.7); */
  display: none;
  overflow-y: auto;
}

.modal {
  min-width: 300px;
  position: relative;
  margin: 0 auto;
  background: #fff;
  border-radius: .5rem;
  padding: 60px;
}

button.modal-close {
  border: none;
  background: transparent;
  padding: .5rem 1rem;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
}

hr {
  margin: 1rem 0;
}

.container {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  margin: 0 -30px;
}

.col {
  margin: 0 30px 2rem 30px;
}

.container .col.one-half {
  flex: 50% 1;
}

.container .col.one-third {
  flex: 33% 1;
}

.container .col.two-thirds {
  flex: 66% 1;
}

h1 {
  /* font-family: 'Fredoka One', cursive; */
  font-family: 'Concert One', cursive;
  /* font-weight: normal; */
  margin: 0 0 .5em 0;
  letter-spacing: 0.025em;
  line-height: 1.25em;
}

h2 {
  margin: 0 0 1em 0;
}

p {
  margin: 0 0 1em 0;
}

.places {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.places button {
  position: absolute;
  width: 8%;
  cursor: pointer;
   background: transparent;
    border: none !important;
    font-size:0;
}

.sticky-note {
  box-shadow: 10px 10px 0 rgba(0,0,0,0.3);
  padding: 2rem;
  /* transform:rotate(-2deg); */
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.sticky-note .pin {
  top: -75px;
  left: 50%;
  width: 80px;
  position: absolute;
}

.sticky-note .flag {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 50px;
  transform:rotate(4deg);
}

.sticky-note h3 {
  font-family: 'Rye';
  font-size: 1.5em;
  margin-bottom: 1em;
}

@media screen and (max-width: 768px) {
  .container {
    display: block;
  }

  body {
    padding: 30px;
  }

  body > header {
    display: block;
  }

  body > main {
    margin: 0 -30px;
  }

  .modal-wrapper {
    padding: 30px;
  }

  .modal {
    padding: 30px;
  }
}
