* {
  margin: 0;
  padding: 0;
	box-sizing: border-box;
	transition: all .1s ease-in;
}

textarea, select, input, button { outline: none; }

body {
  background-image: url('bg.jpg');
  background-size: 100%;
  background-repeat: repeat-y;
  margin: 0;
  position: relative;
  overflow: auto;
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.025em;
  line-height: 1.5em;
  overflow-x: hidden;
}

img {
  width: 100%;
  display: block;
  cursor: pointer;
}

body > #main {
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
}

body > #main > div {
  position: relative;
}

body > header > .flex {
  display: flex;
  flex-direction: row-reverse;
}

body > header {
  padding: 60px 60px 0 60px;
}

body > header .title {
  flex: 1 1;
  padding-right: 3rem;
  margin-bottom: 2rem;
}

body > header .title h1 {
  color: #e4c856;
  font-size: 1.8rem;
  margin: 0;
}

body > header .logo {
  flex: 200px 0;
  max-width: 400px;
  margin: .2rem 0 2rem auto;
  display: block;
}

body > footer, body > footer a {

  margin-top: 2rem;
  text-align: center;
  color: #e4c856;
  font-size: 0.7rem;
  text-decoration: none;

}

body > footer {
z-index: 10;
position: relative;
padding:2.5vw 0;
}


.modal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 60px;
  /* background:	rgba(0, 0, 0, 0.7); */
  display: none;
  overflow-y: auto;
  z-index: 15;
}

.modal {
  min-width: 300px;
  position: relative;
  margin: 0 auto 40px auto;
  background: #fff;
  border-radius: .5rem;
  padding: 60px 60px 10px 60px;
}

button.modal-close {
  border: none;
  background: transparent;
  padding: .5rem 1rem;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
}

hr {
  margin: 10px 0 30px 0;
  border: 0;
  height: 1px;
  background-color: #A9A9A9;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  margin: 0 -30px;
}

.col {
  margin: 0 30px 50px 30px;
}

.container .col.one-all {
  flex: 100% 1;
}

.container .col.one-half {
  flex: 50% 1;
}

.container .col.one-third {
  flex: 33% 1;
}

.container .col.two-thirds {
  flex: 66% 1;
}

h1 {
  /* font-family: 'Fredoka One', cursive; */
  font-family: 'Concert One', cursive;
  /* font-weight: normal; */
  margin: 0 0 .5em 0;
  letter-spacing: 0.025em;
  line-height: 1.25em;
}

h2 {
  margin: 1.5em 0 1.25em 0;
}

p {
  margin: 0 0 1em 0;
}

.places {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

button.open-modal {
  position: absolute;
  width: 8%;
  cursor: pointer;
  background: transparent;
  border: none !important;
  font-size:0;
  z-index: 10;
  transition: all 0.3s ease 0s;
  transform: scale(1, 1);
}

.places button:hover {
  transform: scale(2.15, 2.15);
  z-index: 14;
}


.sticky-note {
  box-shadow: 10px 10px 0 rgba(0,0,0,0.3);
  padding: 2rem;
  /* transform:rotate(-2deg); */
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.sticky-note .pin {
  top: -75px;
  left: 50%;
  width: 80px;
  position: absolute;
}

.sticky-note .flag {
  position: absolute;
  top: 2rem;
  right: 1rem;
  width: 50px;
  transform:rotate(6deg);
}

.sticky-note h3 {
  font-family: 'Rye';
  margin: 10px 0 0 0;
  font-size: 1.5em;
  margin-bottom: 1em;
}
.sticky-note p {
  margin: 0 0 5px 0;
}

@media screen and (max-width: 768px) {
  .container {
    display: block;
  }

  body {
  }

  body > header {
    padding: 30px 30px 0 30px;
  }

  body > header .flex {

      display: block;
  }

  body > #main {
    margin: 0 -30px;
  }

  hr {
    margin: 30px 0 30px 0;
  }

  .modal-wrapper {
    padding: 30px;
    z-index: 15;
  }

  .modal {
    padding: 30px 30px 10px 30px;
  }
  .col {
    margin: 0 30px 20px 30px;
  }
}

.reindeer {
  position: absolute;
  animation: fly;
  animation-duration: 24s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  z-index: 35;
}

@keyframes fly {
  0% { right: -100%; top: 75%; transform: scale(1);}
  20% { right: -100%; top: 75%; transform: scale(1);}
  30% { right: 65%; top: 23%; transform: scale(1.3); }
  40% { right: 65%; top: 23%; transform: scale(1.3); }
  50% { right: 100%; top: 50%; transform: scale(1);}
  100% { right: 100%; top: 60%; transform: scale(1);}
}

.snow {
	z-index:5;

	background-image: url('s1.png'), url('s2.png'), url('s3.png');
  width: 98vw;
  height: 100%;
	margin: 0;
	padding: 0px auto;
	position: absolute;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
